.App {
  text-align: center;
}

/* First Header Styles */
.header-small {
  background-color: #f28920;
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Second Header Styles */
.header-large {
  background-color: #231e54;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  margin-right: 20px;
}

.header-text {
  text-align: left;
}

.header-text h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header-text h2 {
  margin: 5px 0;
  font-size: 1.2rem;
}

.header-text h3 {
  margin: 5px 0;
  font-size: 1rem;
}

/* Time and Date Styles */
.header-right {
  text-align: right;
}

.header-right .time {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.header-right .date {
  margin: 5px 0 0;
  font-size: 1rem;
}

.create-account-button:hover {
  background-color: #1b164b;
  color: white;
}

/* Login Page Styles */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8e8e8;
}

.login-container {
  display: flex;
  background-color: #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 800px;
}

.login-logo {
  flex: 1;
  background-color: #231e54;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-logo img {
  max-width: 100%;
  height: auto;
}

.login-form {
  flex: 1;
  padding: 40px;
  text-align: left;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #231e54;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: #231e54;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  background-color: #f28920;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 106%;
}

.login-form button:hover {
  background-color: #d8812a;
}

/* Login Page Styles */
.login-form a {
  color: #231e54;
  text-decoration: none;
  cursor: pointer;
}

.login-form a:hover {
  text-decoration: underline;
}

.forgot-password {
  margin-top: 10px;
  text-align: center;
}

.forgot-password a {
  color: #231e54;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.create-account-link {
  margin-top: 20px;
  text-align: center;
}

.create-account-link a {
  color: #231e54;
  text-decoration: none;
}

.create-account-link a:hover {
  text-decoration: underline;
}

/* Sign-Up Page Styles */
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8e8e8;
}

.signup-container {
  display: flex;
  background-color: #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 800px;
}

.signup-logo {
  flex: 1;
  background-color: #231e54;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signup-logo img {
  max-width: 100%;
  height: auto;
}

.signup-form {
  flex: 1;
  padding: 40px;
  text-align: left;
}

.signup-form h2 {
  color: #231e54;
  text-align: center;
}

.signup-form label {
  display: block;
  margin-bottom: 5px;
  color: #231e54;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form input[type="file"] {
  padding: 5px;
}


.signup-form button {
  background-color: #231e54;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 106%;
}

.signup-form button:hover {
  background-color: #1b164b;
}

.have-account-link {
  text-align: left;
}

.have-account-link a {
  color: #231e54;
  text-decoration: none;
  cursor: pointer;
}

.have-account-link a:hover {
  text-decoration: underline;
}

/* Forgot Password Page Styles */
.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8e8e8;
  position: relative;
}

.forgot-password-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

.forgot-password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.forgot-password-logo {
  height: 50px;
}

.forgot-password-buttons {
  display: flex;
  gap: 10px;
}

.email-button,
.password-button {
  background-color: white;
  color: #231e54;
  border: 1px solid #231e54;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.signin-button {
  background-color: #f28920;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-form {
  margin-bottom: 20px;
  width: 480px;
}

.forgot-password-form h2 {
  color: #231e54;
  margin-bottom: 10px;
}

.forgot-password-form p {
  color: #231e54;
  margin-bottom: 20px;
}

.forgot-password-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-button {
  background-color: white;
  color: #231e54;
  border: 1px solid #231e54;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.search-button {
  background-color: #f28920;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Forgot Password Footer Styles */
.forgot-password-footer {
  background-color: #f28920;
  color: white;
  text-align: center;
  padding: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: bold;
}
/* Content vision Section Styles */
.content {
  padding: 20px;
  background-color: #b8b8b8;
}

.vision-section,
.mission-section,
.core-values-section,
.quality-policy-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #d3d3d3;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vision-section,
.core-values-section {
  flex-direction: row;
}

.mission-section,
.quality-policy-section {
  flex-direction: row-reverse;
}

.vision-text,
.mission-text,
.core-values-text,
.quality-policy-text {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.vision-image,
.mission-image,
.core-values-image,
.quality-policy-image {
  flex: 1;
  text-align: center;
}

.vision-image img,
.mission-image img,
.core-values-image img,
.quality-policy-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.vision-section,
.core-values-section {
  flex-direction: row;
}

.mission-section,
.quality-policy-section {
  flex-direction: row;
}

.mission-section .mission-image,
.quality-policy-section .quality-policy-image {
  order: 1;
}

.mission-section .mission-text,
.quality-policy-section .quality-policy-text {
  order: 2;
}

/* About Us Section Styles */
.about-us-section {
  background-color: #808080;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us-content {
  flex: 1;
  text-align: left;
}

.about-us-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-us-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0;
}

/* Create Account Button Container */
.create-account {
  display: flex;
  justify-content: right;
  
}

/* Create Account Button Styles */
.create-account-button {
  background-color: #f34823;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.create-account-button:hover {
  background-color: #1b164b;
  color: white;
}